* {
    box-sizing: border-box;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

}
.container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    height: 1000px;
    width: 1000px;
    background-color: white;
    border: 1px solid black;
    padding: 4px 4px;
}

.myButtons {
    display: flex;
    gap: 2px;
    margin: 2px;
}

button {
    background-color: green;
    color: white;
}